<div class="button-box">
  <button (click)="updateStatus()">update status</button>
</div>
<div class="box" style="width:100vw; height:100vh">
  <div id="stencil"></div>
  <div id="container"></div>
</div>

<ng-template #template let-data="ngArguments">
  <div class="node" [ngClass]="data.status">
    <img [src]="data.image.logo" alt="logo" />
    <span class="label">{{data.label}}</span>
    <span class="status">
      <img *ngIf="data.status === 'success'" [src]="data.image.success" alt="success" />
      <img *ngIf="data.status === 'failed'" [src]="data.image.failed" alt="failed" />
      <img *ngIf="data.status === 'running'" [src]="data.image.running" alt="running" />
    </span>
  </div>
</ng-template>